body{
    background-color: #59cd90;
    color: #3fa7d6; 
    font-family: Arial;
    padding-bottom: 20%;
}
h1{
    font-family: Spicy Rice, Arial;
    font-size: 4em;
    overflow: break; 
}
form{

}
.overlay{
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block; 
    text-align: center;
    padding: 2%; 
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    overflow: auto;
}
@media only screen and (max-width: 400px) {
   h1 {
       font-size: 3.5em;

    }
}